    <%= javascript_include_tag 'application', 'custom', 'landing/wow.min', 'landing/main', 'landing/owl.carousel.min', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', 'owl.carousel', 'slit-slider', 'animate', 'main', 'font-awesome.min', 'jquery.fancybox', media: 'all', 'data-turbolinks-track' => true %>
<body class="user">
<div class="container">
  <div class="sec-title text-center">
    <h2>Sign up</h2>
    <p>It`s need to receive access to all function</p>
  </div>
  <div class="row">
    <div class="form-box col-md-4  col-md-offset-4 ">
      <%= form_for(:user, :url => registration_path(:user)) do |f| %>
          <%= devise_error_messages! %>
          <div class="input-field">
          <%= f.text_field :name,class: "form-control",placeholder: "Your Name..." %>
        </div>

        <div class="input-field">
          <%= f.text_field :email,class: "form-control",placeholder: "Your Email..." %>
        </div>

        <div class="input-field">
          <%= f.password_field :password,class: "form-control",placeholder: "Your Password..."%>
        </div>

        <div class="input-field">
          <%= f.password_field :password_confirmation,class: "form-control",placeholder: "Password Confirmation..." %>
        </div>
          <div class="input-field">
              <div class="col-md-4">
                  <%= f.submit "Create", class: "btn btn-blue btn-effect", id: "submit" %>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>

