<div id="wrapper">

  <%= render 'layouts/navbar' %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpLLrfm9YHS776bKpJ7e5stO2VselPFpU">
  </script>
  <div id="page-wrapper" style="height: 100vh;">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="container">
          <h1>Instagram overview</h1> <br />
          <div class="col-md-9 main-block" style="background-color: #D3D3D3;">
            <div class="row">
              <div class="col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                  <div class="embed-responsive-item"id="map" ></div>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <%= form_tag( search_instagram_url, remote: true, role:"form") do  %>
                    <div class="form-group">
                      <%= label_tag "Current location" %>
                      <%= text_field_tag :location,"", class:"form-control city",placeholder:"Location" %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :hashtag %>
                      <%= text_field_tag :hashtag,"", class: "form-control", placeholder: "Hashtags" %>
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Check", class: 'btn btn-sm',style: 'background-color: #222222;' %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>

          <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>