<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
            <!-- Controls -->

          
          <h2 class="brand-before">
            <small>
              Please select area on the map and type of search
            
            </small>
    <!--           <%= @services.inspect %>
            <%= @last_sign_in %>
            <%= @name %> -->
          </h2>
          <hr class="tagline-divider">
        </div>
      </div>
    </div>
    <div id="map" style="height: 440px; border: 1px solid #AAA;">
      <script type="text/javascript">
          // set up the map
          map = new L.Map('map');

          // create the tile layer with correct attribution
          var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
          var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
          var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

          map.setView(new L.LatLng(50.45007183381818, 30.5240535736084), 13);
          map.addLayer(osm);
          var clickCircle;
          function onMapClick(e) {
              var radius = $("#radiusSet").val() * 1000;
              if (clickCircle != undefined) {
                  map.removeLayer(clickCircle);
              };
              clickCircle = new L.Circle(e.latlng, 100);
              map.addLayer(clickCircle);
              $('#lat').val(e.latlng.lat);
              $('#lng').val(e.latlng.lng);
              $('#radius').val(radius);
          }
          map.on('click', onMapClick);

      </script>
    </div>
    <p> </p>
    <%= form_for @check_request do |f| %>
        <%= f.collection_select(:request_type, RequestType.all, :id, :name,
                 {:class => "btn btn-default dropdown-toggle"}) %>

      <div class="form-group">
        <input class="form-control" type="hidden" name="check_request[center][]" id="lat">
        <input class="form-control" type="hidden" name="check_request[center][]" id="lng">
      </div>
      <div class="form-group">
          <div class="col-md-4">
              <%= f.submit "Create", class: "btn btn-primary" %>
          </div>
      </div>  
    <% end %>
  </div>
</div>