<!DOCTYPE html>
<html>
<head>
  <title>BusinessPie</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <% if params[:action] == "landing" %>
    <%= javascript_include_tag 'application', 'custom', 'data-turbolinks-track' => true %>
  <% else %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpLLrfm9YHS776bKpJ7e5stO2VselPFpU">
  </script>
</head>
<body>
	<div id="wrapper">
	    <%= yield %>
	</div>
</body>
</html>
